body{
	background-color: rgb(225,250,250);
	color: black;
}

.container {
	align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 800px; /* added maximum width */
    margin:40px auto;
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 5010px) {
  .container {
    width: 400px;
  }
}

h2{
	margin: 20px 0px;
  	background-color: white;
  	padding: 15px;
  	box-shadow: 0px 10px 30px rgba(0,0,0.1);
  	border: 1px solid black;
	border-radius: 4px;       
	font-family: 'Be Vietnam Pro', sans-serif;
	color: #5D9C59;
}

p{
	color: rgb(18, 18, 35);	
	font-family: Arial;
	font-size: 20px;
	max-width: 100%; /* added maximum width */
	overflow-wrap: break-word; /* added word break */
	word-wrap: break-word; /* added word break */
}

a{	
	color: blue;
	font-family: 'Be Vietnam Pro', sans-serif;
}

h1{
	font-family: 'Hanalei', cursive;
	letter-spacing: 5px;
	font-weight: 20;
	font-size: 50px;
}

a:hover{
	font-size: 30px;
}

ul{
	font-size: 25px;
}

img{
	width: 200px;
}

h3{
	border: 1px solid black;  
	font-size: 35px;
	border-radius: 40px;   
}

.btn-blue {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}

.btn-blue:hover {
	background-color: #5D9C59;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: blue;
}

.list-inline i:hover {
	font-size: 50px;
	color: #5D9C59;
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
} 
